* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker {
  text-align: center;
  border: solid #000 3px;
  border-radius: 10px;
  padding: 20px 0;
  margin-right: 40px;
  font-size: 1.5em;
}

button[data-start] {
  padding: 15px 25px;
  border: solid rgb(131, 133, 8) 3px;
  border-radius: 10px;
  background-color: rgb(255, 251, 0);
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
}
button[data-stop] {
  padding: 15px 25px;
  border: solid rgb(131, 133, 8) 3px;
  border-radius: 10px;
  background-color: rgb(255, 0, 0);
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
}

.timer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: rgb(0, 76, 240);
}

.field {
  font-weight: bold;
}
.field .value {
  font-size: 3em;
  color: #f6fa00;
}

.field .label {
  color: #00c0e2;
}

.field:not(:last-child) {
  margin-right: 40px;
}